
*{
    margin: 0;
    padding: 0;
    font-family: 'Tomorrow', 'Ubuntu', sans-serif;
}

body {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

body.fade-out {
    opacity: 0;
}

.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%; /* Cover the whole width */
    min-height: 100%; /* Cover the whole height */
    object-fit: cover; /* Ensure the aspect ratio is maintained */
    z-index: -1; /* Place behind other content */
}

@media (max-width: 767px) {
    .background {
        object-position: center; /* Center the video */
    }
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 200px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}


.navbar ul li::after {
    content:'';
    height: 3px;
    width: 0;
    background:#c5ff01;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover:after {
    width: 100%;
}

/* CSS properties for "social-media.html"*/

.social-media-page {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('background2.jpg');
    background-size: cover;
    background-position: center;
}

.twitter, .linkedin {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    color: white;
}

.twitter img, .linkedin img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 1%;
    margin-bottom: 20px;
}

h1 {
    color:#c5ff01;
    text-align: center;
    font-size: 60px;
}

h2 {
    color:white;
    text-align: center;
}

/* CSS properties for "client-marketing.html"*/

.client-marketing-page {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('background3.jpg');
    background-size: cover;
    background-position: center;
}

.co-marketing-activities li {
    margin-bottom: 20px;
}

.co-marketing-activities {
    background: #2B2F3B;
    padding: 50px;
    border-radius: 20px;
}

.paragraph-happy-hour{
    background: #2B2F3B;
    padding: 50px;
    border-radius: 20px;
}

.co-marketing-title{
    font-size: 30px;
    margin-bottom: 20px;
}

.co-marketing {
    display: flex;
    color: white;
    justify-content: center;
    margin: 30px;
    flex-direction: column;
    padding: 0px;
    font-size: 20px;
    text-align: justify;
}

co-marketing-fav{
    display: flex;
    color: white;
    justify-content: center;
    margin: 0px;
    flex-direction: column;
    padding: 30px;
    font-size: 20px;
    text-align: justify;
}

p{
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
}

.ideas-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    background: #2B2F3B;
    border-radius: 20px;
    padding: 50px;
}

.idea-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
     width: 400px;
}

#idea1, #idea2, #idea3 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.h3-format {
    color: white;
    margin-bottom: 10px;
}


.co-marketing-ideas-list{
    display: flex;
    margin: auto;
    justify-content: center;
}

.co-marketing-ideas-list li {
    margin-bottom: 20px;
}

.co-marketing-ideas-list {
    display:flex;
    flex-direction: column;
    background: #2B2F3B;
    padding: 50px;
    border-radius: 20px;
    color: white;
    justify-content: center;
    margin: 30px;
    font-size: 20px;
    text-align: justify;
}

.co-marketing-ideas-list li {
    margin-bottom: 20px;
    line-height: 1.5;
}

/* CSS properties for "graphic-design"*/

.graphic-design-page {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('background4.jpg');
    background-size: cover;
    background-position: center;
}
.graphic-design-title{
    font-size: 30px;
}
